<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <title>Truhlář Sláma</title>
  <meta name="viewport" content="width=device-width" />
  <meta name="description"
        content="Truhlář Ondřej Sláma. Řemeslná výroba ze dřeva - nábytek, zakázková výroba, unikátní kousky. Tel: 608334824, mail: ondrej.slama@truhlarslama.cz" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" type="text/css" href="index.css" />
  <link rel="stylesheet" type="text/css" href="portfolio.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">
</head>
<body>
<header>
  <div class="logo-container">
    <img class="logo" src="logo.jpg" alt="Firemní logo" width="50">
  </div>
  <span class="truhlar-slama">
      Truhlář Sláma
    </span>
  <div class="header-divider"></div>
  <nav>
    <div>
      <a href="/">Domů</a>
    </div>
    <div class="current-page">
      <a href="portfolio?page=1">Portfolio</a>
    </div>
  </nav>
</header>
<div class="page-control">
  {{#if prevPage}}
    <a class="page-button" href="/portfolio?page={{prevPage}}">Předchozí</a>
  {{/if}}
  {{#if nextPage}}
    <a class="page-button" href="/portfolio?page={{nextPage}}">Další</a>
  {{/if}}
</div>
<div class="assets-row">
  <div class="assets-column">
    {{#each assetsLeft}}
      <div class="assets-item">
        <img src="{{this.secure_url}}" width="280" alt="{{this.context.caption}}" class="image">
        {{#if this.context.caption}}
          <div class="overlay">{{this.context.caption}}</div>
        {{/if}}
      </div>
    {{/each}}
  </div>
  <div class="assets-column">
    {{#each assetsRight}}
      <div class="assets-item">
        <img src="{{this.secure_url}}" width="280" alt="{{this.context.caption}}" class="image">
        {{#if this.context.caption}}
          <div class="overlay">{{this.context.caption}}</div>
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>
<div class="page-control">
  {{#if prevPage}}
    <a class="page-button" href="/portfolio?page={{prevPage}}">Předchozí</a>
  {{/if}}
  {{#if nextPage}}
    <a class="page-button" href="/portfolio?page={{nextPage}}">Další</a>
  {{/if}}
</div>
<footer>
  <ul class="footer-list">
    <li><a href="tel:608334824">+420 608 334 824</a></li>
    <li><a
      href="mailto:ondrej.slama@truhlarslama.cz">ondrej.slama@truhlarslama.cz</a></li>
    <li><a href="https://www.instagram.com/slamuv_truhlarsky_koutek/">IG: @slamuv_truhlarsky_koutek</a></li>
    <li><a href="https://www.facebook.com/profile.php?id=61553955157538">FB: Truhlář Sláma</a></li>
  </ul>
</footer>
</body>
</html>
