<!DOCTYPE html>
<html>
<head>
  {{> head}}
  <title>Truhlář Sláma - Portfolio</title>
  <link rel="stylesheet" type="text/css" href="css/index.css" />
  <link rel="stylesheet" type="text/css" href="css/portfolio.css" />
</head>
<body>
{{> header-portfolio}}
<div class="page-control">
  <a class="page-button" href="/portfolio?page=1"><<</a>
  {{#each pagination.pages}}
    {{#if this.current}}
      <a class="page-button pagination-current" href="/portfolio?page={{this.number}}">{{this.number}}</a>
    {{else}}
      <a class="page-button" href="/portfolio?page={{this.number}}">{{this.number}}</a>
    {{/if}}
  {{/each}}
  <a class="page-button" href="/portfolio?page={{pagination.total}}">>></a>
</div>
<div class="assets-row">
  <div class="assets-column">
    {{#each assetsLeft}}
      <div class="assets-item">
        <img src="{{this.secure_url}}" alt="{{this.context.caption}}" class="image" loading="lazy">
        {{#if this.context.caption}}
          <div class="overlay">{{this.context.caption}}</div>
        {{/if}}
      </div>
    {{/each}}
  </div>
  <div class="assets-column">
    {{#each assetsRight}}
      <div class="assets-item">
        <img src="{{this.secure_url}}" alt="{{this.context.caption}}" class="image" loading="lazy">
        {{#if this.context.caption}}
          <div class="overlay">{{this.context.caption}}</div>
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>
<div class="page-control">
  <a class="page-button" href="/portfolio?page=1"><<</a>
  {{#each pagination.pages}}
    {{#if this.current}}
      <a class="page-button pagination-current" href="/portfolio?page={{this.number}}">{{this.number}}</a>
    {{else}}
      <a class="page-button" href="/portfolio?page={{this.number}}">{{this.number}}</a>
    {{/if}}
  {{/each}}
  <a class="page-button" href="/portfolio?page={{pagination.total}}">>></a>
</div>
{{> footer}}
</body>
</html>
